html,
body,
#root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  width: 350px;
  height: 500px;
  //   background-color: red;
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // background-color: green;
    height: 100%;
    width: 100%;
  }
}
